// vendors
@import 'vendors/reset';

// utils
@import 'utils/vars';
@import 'utils/mixins';

// layout
@import 'layout/base';
@import 'layout/scroll';

// components
@import 'components/header';
@import 'components/generation';
@import 'components/logos';
@import 'components/make-mobile';
@import 'components/breakthrough';
@import 'components/unlock';
@import 'components/convert';
@import 'components/your';
@import 'components/work';
@import 'components/footer';