html,
*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

* {
  outline: 0; }

main {
  display: block; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none; }

button,
input {
  overflow: visible; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button {
  border: 0;
  outline: 0; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

[hidden] {
  display: none; }

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

label {
  margin-bottom: 0; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

:root {
  --html-fs: 1px;
  --ff: "Work Sans", sans-serif;
  --transition: 0.2s all ease-in-out;
  --h1-400-48: normal 400 48px / 105% var(--ff);
  --h2-400-37: normal 400 37px / 108% var(--ff);
  --h2-400-30: normal 400 30px / 108% var(--ff);
  --desc-400-24: normal 400 24px / 105% var(--ff);
  --desc-400-16: normal 400 16px / 130% var(--ff);
  --desc-400-14: normal 400 14px / 130% var(--ff);
  --desc-400-13: normal 400 13px / 105% var(--ff); }

html {
  font-size: var(--html-fs); }

body {
  font-size: 16px;
  font-family: var(--ff);
  background: #1e1e1e; }

.wrapper {
  max-width: 1200px;
  margin-inline: auto;
  background: #ffffff; }

.container {
  max-width: 1128px;
  margin-inline: auto; }

.h1-title {
  color: #333;
  font: var(--h1-400-48); }
  @media (max-width: 992px) {
    .h1-title {
      font: var(--h1-400-48); } }
  @media (max-width: 768px) {
    .h1-title {
      font: var(--h1-400-48); } }
  @media (max-width: 576px) {
    .h1-title {
      font: var(--h2-400-37); } }
  @media (max-width: 480px) {
    .h1-title {
      font: var(--h2-400-30); } }

.h2-title {
  color: #333;
  font: var(--h2-400-37); }
  @media (max-width: 992px) {
    .h2-title {
      font: var(--h2-400-37); } }
  @media (max-width: 768px) {
    .h2-title {
      font: var(--h2-400-37); } }
  @media (max-width: 576px) {
    .h2-title {
      font: var(--h2-400-37); } }
  @media (max-width: 480px) {
    .h2-title {
      font: var(--h2-400-30); } }

.desc {
  color: #333;
  font: var(--desc-400-16); }

.icon {
  fill: #000;
  transition: var(--transition); }

.icon:hover {
  fill: #8842f0; }

img {
  cursor: pointer; }

*::-webkit-scrollbar {
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0); }

* ::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background-color: #d1d1d1; }

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 22px 0; }
  .header__backdrop {
    display: none; }
    @media (max-width: 992px) {
      .header__backdrop {
        transform: translateX(120%);
        display: block;
        transition: var(--transition);
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0; } }
  .header__ul {
    display: flex;
    align-items: center;
    gap: 24px;
    z-index: 1; }
    @media (max-width: 992px) {
      .header__ul {
        position: fixed;
        width: 70%;
        height: 100%;
        flex-direction: column;
        left: 0;
        top: 0;
        background: #8842f0;
        align-items: center;
        justify-content: center;
        transform: translateX(-120%);
        transition: var(--transition); } }
    .header__ul._active {
      transform: translateX(0); }
    .header__ul._active ~ .header__backdrop {
      transform: translateX(0); }
    .header__ul .icon-close {
      position: absolute;
      top: 40px;
      right: 40px;
      color: #fff; }
  .header__a {
    font: var(--desc-400-16);
    color: #022a1e;
    transition: var(--transition); }
    .header__a.is-active, .header__a:hover {
      color: #333;
      box-shadow: 5px 5px 5px 5px #022a1e;
      border-radius: 100px;
      padding: 5px; }
    .header__a:active {
      color: #8842f0; }
  .header .btn {
    background: #fff;
    padding: 13px 21px;
    color: #022a1e;
    border: 1px solid #022a1e;
    border-radius: 100px;
    transition: var(--transition); }
    .header .btn:hover {
      background: #000;
      color: #fff; }

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none; }
  @media (max-width: 992px) {
    .icon-menu,
    .icon-close {
      display: inline-block;
      padding-right: 10px; } }

.generation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 60px 120px 60px;
  border-radius: 12px;
  background: #022a1e;
  gap: 20px; }
  @media (max-width: 768px) {
    .generation {
      flex-direction: column;
      padding: 60px 30px; } }
  @media (max-width: 576px) {
    .generation {
      padding: 30px 15px; } }
  .generation__info {
    display: flex;
    flex-direction: column; }
    .generation__info-title {
      color: #fff;
      margin-bottom: 11px; }
    .generation__info-desc {
      max-width: 455px;
      color: #fff;
      margin-bottom: 32px; }
    .generation__info-img {
      transition: var(--transition); }
      .generation__info-img:hover {
        scale: 1.1; }

.logos {
  padding: 74px 0 68px 0; }
  .logos__text {
    font: var(--desc-400-24);
    text-align: center;
    color: #333;
    margin-bottom: 24px; }
  .logos__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px; }
    @media (max-width: 768px) {
      .logos__icons {
        gap: 30px; } }
    .logos__icons-a {
      transition: var(--transition); }
      .logos__icons-a:hover {
        scale: 1.1; }
    @media (max-width: 576px) {
      .logos__icons {
        gap: 20px; } }

.make-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 60px;
  border-radius: 12px;
  background: #f2f7f7; }
  @media (max-width: 576px) {
    .make-mobile {
      padding: 50px 30px; } }
  @media (max-width: 480px) {
    .make-mobile {
      padding: 30px 15px; } }
  .make-mobile__title {
    max-width: 900px;
    text-align: center;
    margin-bottom: 65px; }
    @media (max-width: 576px) {
      .make-mobile__title {
        margin-bottom: 35px; } }
    @media (max-width: 480px) {
      .make-mobile__title {
        margin-bottom: 25px; } }
  .make-mobile__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px; }
    @media (max-width: 992px) {
      .make-mobile__section {
        grid-template-columns: 1fr 1fr;
        row-gap: 32px; } }
    @media (max-width: 768px) {
      .make-mobile__section {
        grid-template-columns: 1fr; } }
    .make-mobile__section-block {
      background: #fff;
      border-radius: 12px;
      padding: 40px; }
      @media (max-width: 992px) {
        .make-mobile__section-block {
          padding: 20px; } }
      @media (max-width: 576px) {
        .make-mobile__section-block {
          margin-bottom: 10px; } }
    .make-mobile__section-text {
      padding-top: 240px;
      font: var(--desc-400-24);
      text-align: center;
      color: #333;
      margin-bottom: 11px; }
      @media (max-width: 576px) {
        .make-mobile__section-text {
          padding-top: 120px; } }
      @media (max-width: 480px) {
        .make-mobile__section-text {
          padding-top: 90px; } }
    .make-mobile__section-info {
      font: var(--desc-400-14);
      text-align: center;
      color: #333; }

.breakthrough {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 155px 20px 200px 20px; }
  @media (max-width: 992px) {
    .breakthrough {
      padding: 100px 20px 100px 20px;
      flex-direction: column;
      row-gap: 50px; } }
  @media (max-width: 480px) {
    .breakthrough {
      padding: 75px 10px 80px 10px; } }
  .breakthrough-section__block {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 18px; }
    .breakthrough-section__block-text {
      font: var(--desc-400-14);
      color: #022a1e; }
    .breakthrough-section__block-btn {
      display: inline-block;
      font: var(--desc-400-14);
      color: #fff;
      padding: 4px 12px;
      background: #022a1e;
      border-radius: 100px;
      border: 1px solid #022a1e;
      transition: var(--transition); }
      .breakthrough-section__block-btn:hover {
        background: #fff;
        color: #022a1e; }
  .breakthrough-section-title {
    max-width: 600px;
    margin-bottom: 33px; }
  .breakthrough-section-desc {
    max-width: 523px;
    padding-bottom: 40px;
    font: var(--desc-400-16);
    color: #333;
    border-bottom: 1px solid #022a1e;
    margin-bottom: 30px; }
  .breakthrough-section__svg {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px; }
    .breakthrough-section__svg-check {
      cursor: pointer; }
    .breakthrough-section__svg-desc {
      font: var(--desc-400-16);
      color: #333; }
  .breakthrough-section__btn {
    display: flex;
    font: var(--desc-400-16);
    color: #022a1e; }
  .breakthrough-section .btn {
    display: inline-block;
    padding: 13px 21px;
    border: 1px solid #022a1e;
    border-radius: 100px;
    transition: var(--transition); }
    .breakthrough-section .btn:hover {
      color: #fff;
      background: #022a1e; }

.unlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px 200px 20px; }
  @media (max-width: 992px) {
    .unlock {
      padding: 0 20px 100px 20px;
      flex-direction: column-reverse;
      row-gap: 50px; } }
  @media (max-width: 480px) {
    .unlock {
      padding: 0 10px 50px 10px; } }
  .unlock-section__block {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 18px; }
    .unlock-section__block-text {
      font: var(--desc-400-14);
      color: #022a1e; }
  .unlock-section-title {
    max-width: 600px;
    margin-bottom: 33px; }
  .unlock-section-desc {
    max-width: 523px;
    padding-bottom: 40px;
    font: var(--desc-400-16);
    color: #333;
    border-bottom: 1px solid #022a1e;
    margin-bottom: 30px; }
  .unlock-section__svg {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px; }
    .unlock-section__svg-check {
      cursor: pointer; }
    .unlock-section__svg-desc {
      font: var(--desc-400-16);
      color: #333; }
  .unlock-section__btn {
    display: flex;
    font: var(--desc-400-16);
    color: #022a1e; }
  .unlock-section .btn {
    display: inline-block;
    padding: 13px 21px;
    border: 1px solid #022a1e;
    border-radius: 100px;
    transition: var(--transition); }
    .unlock-section .btn:hover {
      color: #fff;
      background: #022a1e; }

.convert {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px 200px 20px; }
  @media (max-width: 992px) {
    .convert {
      padding: 0 20px 100px 20px;
      flex-direction: column;
      row-gap: 50px; } }
  @media (max-width: 480px) {
    .convert {
      padding: 0 10px 80px 10px; } }
  .convert-section__block {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 18px; }
    .convert-section__block-text {
      font: var(--desc-400-14);
      color: #022a1e; }
  .convert-section-title {
    max-width: 600px;
    margin-bottom: 33px; }
  .convert-section-desc {
    max-width: 523px;
    padding-bottom: 40px;
    font: var(--desc-400-16);
    color: #333;
    border-bottom: 1px solid #022a1e;
    margin-bottom: 30px; }
  .convert-section__svg {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px; }
    .convert-section__svg-check {
      cursor: pointer; }
    .convert-section__svg-desc {
      font: var(--desc-400-16);
      color: #333; }
  .convert-section__btn {
    display: flex;
    font: var(--desc-400-16);
    color: #022a1e; }
  .convert-section .btn {
    display: inline-block;
    padding: 13px 21px;
    border: 1px solid #022a1e;
    border-radius: 100px;
    transition: var(--transition); }
    .convert-section .btn:hover {
      color: #fff;
      background: #022a1e; }

.your {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px 200px 20px; }
  @media (max-width: 992px) {
    .your {
      padding: 0 20px 100px 20px;
      flex-direction: column-reverse;
      row-gap: 50px; } }
  @media (max-width: 480px) {
    .your {
      padding: 0 10px 80px 10px; } }
  .your-section {
    max-width: 510px; }
    .your-section__block {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 18px; }
      .your-section__block-text {
        font: var(--desc-400-14);
        color: #022a1e; }
    .your-section-title {
      max-width: 600px;
      margin-bottom: 33px; }
    .your-section-desc {
      max-width: 523px;
      padding-bottom: 40px;
      font: var(--desc-400-16);
      color: #333;
      border-bottom: 1px solid #022a1e;
      margin-bottom: 30px; }
    .your-section__svg {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 12px; }
      .your-section__svg-check {
        cursor: pointer; }
      .your-section__svg-desc {
        font: var(--desc-400-16);
        color: #333; }
    .your-section__btn {
      display: flex;
      font: var(--desc-400-16);
      color: #022a1e; }
    .your-section .btn {
      display: inline-block;
      padding: 13px 21px;
      border: 1px solid #022a1e;
      border-radius: 100px;
      transition: var(--transition); }
      .your-section .btn:hover {
        color: #fff;
        background: #022a1e; }

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .work__content {
    max-width: 690px;
    margin-bottom: 64px; }
    @media (max-width: 576px) {
      .work__content {
        margin-bottom: 40px; } }
    .work__content-title {
      margin-bottom: 32px; }
    .work__content .text {
      margin-bottom: 18px; }
    .work__content p {
      font: var(--desc-400-16);
      color: #333; }
  .work__section {
    margin-bottom: 120px; }
    @media (max-width: 576px) {
      .work__section {
        margin-bottom: 60px; } }
    .work__section-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 32px; }
      @media (max-width: 576px) {
        .work__section-content {
          gap: 20px; } }
      .work__section-content__img {
        padding: 8px 29px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        width: 190px;
        height: 100px; }

.carousel {
  border-radius: 12px;
  max-width: 1128px;
  background: #f2f7f7;
  padding: 180px 114px 295px 114px;
  gap: 30px; }
  @media (max-width: 992px) {
    .carousel {
      padding: 100px 80px 195px 80px; } }
  @media (max-width: 768px) {
    .carousel {
      padding: 80px 60px 175px 60px; } }
  @media (max-width: 576px) {
    .carousel {
      padding: 60px 40px 150px 40px; } }
  @media (max-width: 480px) {
    .carousel {
      padding: 40px 40px 130px 40px; } }
  .carousel__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .carousel__slide-desc {
      font: var(--h2-400-30);
      color: #022a1e;
      margin-bottom: 31px; }
      @media (max-width: 992px) {
        .carousel__slide-desc {
          font: var(--desc-400-24);
          border: 3px solid rgba(0, 0, 0, 0.1);
          border-radius: 12px;
          padding: 20px; } }
      @media (max-width: 576px) {
        .carousel__slide-desc {
          font: var(--desc-400-16);
          text-align: left; } }
    .carousel__slide-text {
      font: var(--desc-400-16);
      color: #333; }
      @media (max-width: 992px) {
        .carousel__slide-text {
          font: var(--desc-400-14); } }

.you {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .you__title {
    max-width: 600px;
    text-align: center;
    margin-top: -100px;
    z-index: 1;
    margin-bottom: 100px; }
    @media (max-width: 480px) {
      .you__title {
        margin-bottom: 50px; } }
  .you__btn {
    font: var(--desc-400-16);
    text-align: center;
    color: #022a1e;
    margin-bottom: 100px; }
    @media (max-width: 480px) {
      .you__btn {
        margin-bottom: 50px; } }
  .you .btn {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 100px;
    background: #d6fc52;
    transition: var(--transition); }
    @media (max-width: 480px) {
      .you .btn {
        padding: 10px; } }
    .you .btn:hover {
      background: #022a1e;
      color: #fff; }
  .you__section {
    margin-bottom: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    @media (max-width: 768px) {
      .you__section {
        justify-content: center; } }
    @media (max-width: 768px) {
      .you__section-img {
        display: none; } }
    .you__section-contacts {
      display: flex;
      justify-content: flex-end;
      align-items: start;
      gap: 80px; }
      @media (max-width: 576px) {
        .you__section-contacts {
          gap: 30px; } }
      @media (max-width: 480px) {
        .you__section-contacts {
          display: grid;
          grid-template-columns: 1fr; } }
      .you__section-contacts__block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
      .you__section-contacts__desc {
        font: var(--desc-400-16);
        color: #333;
        padding: 10px 20px;
        border-radius: 100px;
        transition: var(--transition); }
        .you__section-contacts__desc:hover {
          background: #022a1e;
          color: #fff; }
      .you__section-contacts__info {
        font: var(--desc-400-14);
        color: #022a1e;
        padding: 10px 20px;
        border-radius: 100px;
        transition: var(--transition); }
        .you__section-contacts__info:hover {
          background: #333;
          color: #fff; }
  .you__proud {
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 100%;
    padding-right: 10px;
    margin-bottom: 55px; }
    .you__proud-text {
      font: var(--desc-400-13);
      color: #333;
      margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
