// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

// MEDIA QUERIES
@mixin desktop-small {
  @media (max-width: $desktop-small) {
    @content;
  }
}

@mixin tablet-small {
  @media (max-width: $tablet-small) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: $mobile-small) {
    @content;
  }
}
@mixin f-s-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin f-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin f-e-c {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
