:root {
  --html-fs: 1px;
  --ff: "Work Sans", sans-serif;
  --transition: 0.2s all ease-in-out;

  --h1-400-48: normal 400 48px / 105% var(--ff);
  --h2-400-37: normal 400 37px / 108% var(--ff);
  --h2-400-30: normal 400 30px / 108% var(--ff);
  --desc-400-24: normal 400 24px / 105% var(--ff);
  --desc-400-16: normal 400 16px / 130% var(--ff);
  --desc-400-14: normal 400 14px / 130% var(--ff);
}
$color-h1: #333;
$color-nav: #022a1e;
$text-white: #fff;
$primary: #8842f0;
$border: #eee;
$black: #000;
$color-btn: #d6fc52;
$background-make-mobile: #f2f7f7;
$border-btn: 1px solid rgb(2, 42, 30);
$background-1: rgba(0, 0, 0, 0.3);
$border-work: 1px solid rgba(0, 0, 0, 0.1);
$border-carousel: 3px solid rgba(0, 0, 0, 0.1);
$box-shadow: 0 208px 58px 0 rgba(0, 0, 0, 0.01);
$box-shadow1: 5px 5px 5px 5px rgb(2, 42, 30);