html {
  font-size: var(--html-fs);
}
body {
  font-size: 16px;
  font-family: var(--ff);
  background: rgb(30, 30, 30);
}
.wrapper {
  max-width: 1200px;
  margin-inline: auto;
  background: #ffffff;
}
.container {
  max-width: 1128px;
  margin-inline: auto;
}
.h1-title {
  color: $color-h1;
  font: var(--h1-400-48);

  @include tablet {
    font: var(--h1-400-48);
  }
  @include tablet-small {
    font: var(--h1-400-48);
  }
  @include mobile {
    font: var(--h2-400-37);
  }
  @include mobile-small {
    font: var(--h2-400-30);
  }
}
.h2-title {
  color: $color-h1;
  font: var(--h2-400-37);

  @include tablet {
    font: var(--h2-400-37);
  }
  @include tablet-small {
    font: var(--h2-400-37);
  }
  @include mobile {
    font: var(--h2-400-37);
  }
  @include mobile-small {
    font: var(--h2-400-30);
  }
}
.desc {
  color: $color-h1;
  font: var(--desc-400-16);
}
.icon {
  fill: $black;
  transition: var(--transition);
}

.icon:hover {
  fill: $primary;
}
img {
  cursor: pointer;
}
