.header {
  @include f-e-c;
  padding: 22px 0;

  &__backdrop {
    display: none;

    @include tablet {
      transform: translateX(120%);
      display: block;
      transition: var(--transition);
      position: fixed;
      width: 100%;
      height: 100%;
      background: $background-1;
      top: 0;
      left: 0;
    }
  }

  &__ul {
    display: flex;
    align-items: center;
    gap: 24px;
    z-index: 1;

    @include tablet {
      position: fixed;
      width: 70%;
      height: 100%;
      flex-direction: column;
      left: 0;
      top: 0;
      background: $primary;
      align-items: center;
      justify-content: center;
      transform: translateX(-120%);
      transition: var(--transition);
    }

    &._active {
      transform: translateX(0);
    }

    &._active ~ .header__backdrop {
      transform: translateX(0);
    }

    .icon-close {
      position: absolute;
      top: 40px;
      right: 40px;
      color: $text-white;
    }
  }

  &__a {
    font: var(--desc-400-16);
    color: $color-nav;
    transition: var(--transition);
    border: 1px solid $text-white;
    border-radius: 100px;
    padding: 13px 21px;

    &.is-active,
    &:hover {
      color: $color-btn;
      border: $border-btn;
      background: $black;
      color: $text-white;
    }
  }
  .btn {
    background: $text-white;
    padding: 13px 21px;
    color: $color-nav;
    border: $border-btn;
    border-radius: 100px;
    transition: var(--transition);
    &:hover {
      background: $black;
      color: $text-white;
    }
  }
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;

  @include tablet {
    display: inline-block;
    padding-right: 10px;
  }
}
