.header {
  @include f-e-c;
  padding: 22px 30px;

  &__backdrop {
    display: none;

    @include tablet {
      transform: translateX(120%);
      display: block;
      transition: var(--transition);
      position: fixed;
      width: 100%;
      height: 100%;
      background: $background-1;
      top: 0;
      left: 0;
    }
  }

  &__ul {
    display: flex;
    align-items: center;
    gap: 24px;
    z-index: 1;

    @include tablet {
      position: fixed;
      width: 70%;
      height: 100%;
      flex-direction: column;
      left: 0;
      top: 0;
      background: $primary;
      align-items: center;
      justify-content: center;
      transform: translateX(-120%);
      transition: var(--transition);
    }

    &._active {
      transform: translateX(0);
    }

    &._active ~ .header__backdrop {
      transform: translateX(0);
    }

    .icon-close {
      position: absolute;
      top: 40px;
      right: 40px;
      color: $text-white;
    }
  }

  &__a {
    font: var(--desc-400-16);
    color: $color-nav;
    transition: var(--transition);

    &.is-active,
    &:hover {
      color: $color-h1;
    }
  }
  .btn {
    border-radius: 10px;
    background: $text-white;
    padding: 2px 25px;
    color: $color-nav;
    transition: var(--transition);
    &:hover {
      background: $black;
      color: $text-white;
    }
  }
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;

  @include tablet {
    display: inline-block;
  }
}
